.content-page-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: calc(100vh - 40px);
    margin-left: 260px;
    margin-right: 300px;
    margin-bottom: 500px;
    grid-gap: 40px;

    .about-title {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        margin-top: 40px;
        font-family: 'Montserrat';
        font-size: 3em;
        @include themed() {
            color: t('color-headings');
        }
    }

    .left-column {
        background-size: cover;
        border-radius: 5px;
        margin-top: -100px;
    }

    .right-column {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        font-family: 'Montserrat';
        font-size: 1.4em;
        @include themed() {
            color: t('color-text');
        }
        border-radius: 5px;
        @include themed() {
            background-color: t('bg-panel');
        }
    }

    .social-media-section {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        margin-top: 40px;
        font-family: 'Montserrat';
        font-size: 1.3em;

        .social-text {
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include themed() {
                color: t('color-text');
            }

            .cursive {
                font-family: 'Petit Formal Script', cursive;
                font-size: 1.1em;
                margin-right: 6px;
                @include themed() {
                    color: t('color-headings');
                }
            }
        }

        .social-icon {
            cursor: pointer;
            font-size: 2em;
            @include themed() {
                color: t('color-headings');
            }

            &:hover {
                color: #aec6cf;
            }
        }
    }
}