.auth-page-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 40px);
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 500px;
    grid-column-gap: 40px;

    .left-column {
        background-size: cover;
        border-radius: 5px;
        margin-top: 40px;
        @include themed() {
            border: 0.5px solid t('bg-panel');
        }
        box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
    }

    .right-columm {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        @include themed() {
            border: 0.5px solid t('bg-panel');
        }
        border-radius: 5px;
        @include themed() {
            background-color: t('bg-panel');
        }
        box-shadow: 0px 2px 15px rgba(0,0,0,0.1);
    }
}