body {
    margin-top: 30px;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
    @include themed() {
        background-color: t('bg');
        background-image: t('bg-panel');
    }
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    @include themed() {
        background-color: t('bg');
        background-image: t('bg-panel');
    }
}