.home-container {
    height: 100%;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    @include themed() {
        background-color: t('bg');
        background-image: t('bg-panel');
    }
}

.hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    background-size: cover;
    height: 1000px;
    width: 100vw;
    @include themed() {
        border: 1px solid t('bg-panel');
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    }

}
.headline {
    color: #fff;
    text-transform: uppercase;
    font-size: 8vh;
    padding-top: 100px;
    margin-left: 50px;
    // width: 100%;
    display: block;
    height: 450px;

    #nutrition {
        color: #fff;
        text-transform: uppercase;
        font-size: 8vh;
        font-weight: bold;
        padding-top: 100px;
        margin-left: 50px;
        display: block;
    }
    
    #meets {
        font-family: 'Petit Formal Script', cursive;
        text-transform: lowercase;
        margin-bottom: 10px;
        margin-left: 370px;
    }

    span {
        margin-left: 500px;
    }
    
    span:before{
        content: '';
        animation: animate infinite 15s;
    }
    
    @keyframes animate{
        0%{
            content:'SIMPLICITY';
        }
        20%{
            content:'DELICIOUSNESS';
        }
        40%{
            content:'QUALITY';
        }
        60%{
            content:'PLAINNESS';
        }
        80%{
            content:'AFFORDABILITY';
        }
        100%{
            content:'YOU';
        }
    }
}

.supporting-copy {
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    color: rgba(255, 255, 255, 0.493);
    margin-left: 100px;
    width: 1000px;
}

.benefits-section {
    margin-top: 60px;
    margin-left: 300px;
    margin-right: 300px;
    .benefits-title {
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
        font-size: 36px;
        font-weight: bold;
        @include themed() {
            color: t('color-headings');
        }
    }
    .cooking-benefit {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 40px;

        .cooking-left-column {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cooking-left-column img {
            width: 600px;
            height: 600px;
            object-fit: cover;
            border-radius: 5px;
            @include themed() {
                border: 1px solid t('color-headings');
                box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
            }
        }

        .cooking-right-column {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            @include themed() {
                color: t('color-text');
            }
            
            h2 {
                @include themed() {
                    color: t('color-headings');
                }
            }
        }
    }

    .fitness-benefit {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 50px;

        .fitness-right-column {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .fitness-right-column img {
            width: 600px;
            height: 600px;
            object-fit: cover;
            border-radius: 5px;
            @include themed() {
                border: 1px solid t('color-headings');
                box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
            }
        }

        .fitness-left-column {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            @include themed() {
                color: t('color-text');
            }
            h2 {
                @include themed() {
                    color: t('color-headings');
                }
            }
        }
    }
}

.features-section {
    margin-top: 60px;
    margin-left: 300px;
    margin-right: 300px;

    .features-title {
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
        font-size: 36px;
        font-weight: bold;
        @include themed() {
            color: t('color-headings');
        }
    }

    .recipes-feature {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .recipes-left-column {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .recipes-right-column {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include themed() {
                color: t('color-text')
            }
        }
    }

    .facts-feature {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 100px;
        margin-bottom: 100px;

        .facts-left-column {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include themed() {
                color: t('color-text')
            }
        }

        .facts-right-column {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

.social-media-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 40px;
    font-family: 'Montserrat';
    font-size: 1.3em;

    .social-text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include themed() {
            color: t('color-text');
        }

        .cursive {
            font-family: 'Petit Formal Script', cursive;
            font-size: 1.1em;
            margin-right: 6px;
            @include themed() {
                color: t('color-headings');
            }
        }
    }

    .social-icon {
        cursor: pointer;
        font-size: 2em;
        @include themed() {
            color: t('color-headings');
        }

        &:hover {
            color: #aec6cf;
        }
    }
}

@media (max-width: 48em) {

    .home-container {
        position: absolute;
        height: auto;
        width: 100%;
        overflow-x: hidden;
        box-sizing: border-box;
    }

    .hero-section {
        grid-template-columns: 1fr;
        margin: auto;
        height: 100vh;
        width: auto;
    }

    .headline {
        font-size: 6vh;
        padding-top: 70px;
        height: 300px;
        margin: auto;
        margin-left: auto;
        width: 70%;

        #nutrition {
            padding-top: 30px;
            margin: 0;
        }

        #meets {
            margin: 0;
        }

        span {
            margin-left: auto;
            width: 70%;
        }
    }

    .supporting-copy {
        font-size: 26px;
        margin: auto;
        width: 70%;
        text-align: center;
    }

    .benefits-section {
        margin: auto;
        width: 70%;
        
        .benefits-title {
            margin: auto;
            margin-top: 40px;
            text-align: center;
            font-size: 30px;
        }

        .cooking-benefit {
            grid-template-columns: 1fr;
            margin-top: 20px;

            .cooking-right-column {
                margin: auto;
                width: 70%;
            }

            .cooking-left-column img{
                margin: auto;
                width: 90%;
                height: 100%;
            }
        }

        .fitness-benefit {
            grid-template-columns: 1fr;
            margin-top: 20px;

            .fitness-right-column img {
                margin: auto;
                margin-top: 20px;
                width: 90%;
                height: 100%;
            }

            .fitness-left-column {
                margin: auto;
                width: 70%;
            }
        }
    }

    .features-section {
        margin: auto;
        margin-top: 100px;
        width: 70%;

        .features-title {
            margin-left: auto;
            text-align: center;
        }

        .recipes-feature {
            grid-template-columns: 1fr;

            .recipes-right-column {
                margin-top: 50px;
                text-align: center;
            }
        }


        .facts-feature {
            grid-template-columns: 1fr;

            .facts-left-column {
                text-align: center;
            }

            .facts-right-column {
                margin-top: 50px;
            }
        }
    }


}